body, html {
  margin: 0;
  padding: 0;
  height: auto; /* Yüksekliği sınırlamayın */
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%; /* Sayfa tam boyutunda */

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #2c3e50; /* Koyu mavi başlıklar */
}

.navbar {
  background-color: #2c3e50; /* Koyu mavi navbar */
}

.nav-link {
  color: #f8f9fa !important; /* Beyaz linkler */
  font-weight: 500;
}

.nav-link:hover {
  color: #1abc9c !important; /* Turkuaz hover efekti */
}

.hero {
  background-color: #1abc9c;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.content {
  padding: 20px;
}

footer {
  background-color: #2c3e50;
  color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed; /* Footer'ı sayfada sabit tutar */
  bottom: 0;
  left: 0;
}


main {
  flex: 1; /* Ana içerik kısmı sayfanın geri kalan kısmını kaplasın */
  padding-bottom: 80px;
  overflow-y: auto;  /* Footer'ın altta kalması için mesafe bırak */
}

.hero-section {
  background-color: #f8f9fa; /* Arka plan rengi */
  padding: 5rem 0; /* Üst ve alt padding */
}

.hero-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem; /* Başlık boyutunu ayarlıyoruz */
  color: #333; /* Başlık rengi */
}

.hero-section p {
  font-size: 1.2rem;
  color: #666; /* Açıklama metni rengi */
}

.text-muted {
  color: #6c757d !important;
}


@media (max-width: 768px) {
  .hero-title {
    font-size: 1.5rem; /* Mobilde başlık boyutunu küçültüyoruz */
  }

  .hero-section p {
    font-size: 1rem; /* Açıklama metnini mobilde küçültüyoruz */
  }
}













